<div class="card mb-4 shadow-sm">
    <img 
      class="bd-placeholder-img card-img-top p-2" 
      width="100%" 
      [src]="productItem.imageUrl"/>
  
    <div class="card-body">

      <p class="card-text">
        <strong class="price">₱{{productItem.price | number}}</strong>
        <i 
          *ngIf="addedToWishList"
          class="float-end fa-heart"
          title="Remove from Wish List"
          (click)="handleRemoveFromWishList()">

          <fa-icon [icon]="heartIcon"></fa-icon>
        </i>

        <i 
          *ngIf="!addedToWishList"
          class="float-end fa-heart"
          title="Add to Wish List"
          (click)="handleAddToWishList()">

          <fa-icon [icon]="heartIconSolid"></fa-icon>
        </i>

      </p>

      <h6 class="fw-bold">{{ productItem.name }}</h6>
      <p class="card-text description">{{ productItem.description | slice: 0:90 }}...</p>

      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <button 
              type="button" 
              class="product-btn"
              (click)="handleAddToCart()">
                Add to Cart
            </button>
          <button type="button" class="product-btn">View Details</button>
        </div>
      </div>

    </div>
</div>