<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Example 1</h2>
      <input type="text" name="name" [(ngModel)]="name">
      <p> You entered: {{name}}</p>
      <button class="btn btn-primary" [disabled]="name === ''" (click)="clearName()">Clear All Binding</button>
      <app-servers></app-servers>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
      <hr>
      <label for="">User Name</label>
      <input type="text" class="form-control" [(ngModel)]="name">
      <button class="btn btn-primary" [disabled]="name === ''" (click)="clearName()">Reset User</button>
      <hr>
      <button class="btn btn-primary" (click)="onToggle()">Display Details</button>
      <p *ngIf="showSecret">Secret Password = I lab 30</p>
      <div *ngFor="let item of login; let i = index" [ngStyle]="{backgroundColor: i >= 4 ? 'orange': 'aqua'}" >{{ item }}</div>
    </div>
  </div>
</div>
